@using Burger.DATA.Concrete
@using Burger.WEBUI.Areas.Admin.Models.VMs
@model ListHamburgerVM

<div class="container">
    <div class="row justify-content-end">
        <div class="col-10">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Burger Adı</th>
                        <th scope="col">Burger Resmi</th>
                        <th scope="col">Açıklama</th>
                        <th scope="col">Fiyat</th>
                        <th scope="col">Status</th>
                        <th scope="col">Extra Malzemeler</th>
                        <th scope="col">Güncelle / Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Hamburger item in Model.Hamburgers)
                    {
                        <tr>
                            <th scope="row">@item.Name</th>
                            <td><img src="@item.Photo" style="width:100px; height:100px; object-fit:cover;"></img></td>
                            <td>@item.Description</td>
                            <td>@item.Price ₺</td>
                            <td>@item.Status</td>
                            <td>
                                @if (Model.HamburgerExtras.Any(x => x.HamburgerId == item.Id))
                                {
                                    foreach (var extras in Model.HamburgerExtras.Where(x => x.HamburgerId == item.Id))
                                    {
                                        <i>@extras.Extra.Name</i>
                                    }
                                }
                            </td>
                            <td>
                                <a class="btn btn-success" asp-route-id=@item.Id asp-controller="CrudBurger" asp-action="Update">Güncelle</a>
                                <a class="btn btn-danger" asp-route-id=@item.Id asp-controller="CrudBurger" asp-action="Delete">Sil</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-primary" asp-controller="CrudBurger" asp-action="Create">Burger Ekle</a>

        </div>

    </div>

</div>
