@using Burger.DATA.Concrete
@model ShoppingCartVM

<div class="shopping-cart">
    <h2>Alışveriş Sepeti</h2>
    <ul>
        @foreach (CartItem item in Model.CartItems)
        {
            if (item.Menus!=null)
            {
                @foreach (Menu menu in item.Menus)
                {
                    <li>@menu.Name - @menu.Price</li>
                }
            }
            if (item.Hamburgers != null)
            {
                @foreach (Hamburger burger in item.Hamburgers)
                {
                    <li>@burger.Name - @burger.Price</li>
                }
            }
            @if (item.ByProducts != null)
            {
                @foreach (ByProduct byProduct in item.ByProducts)
                {
                    <li>@byProduct.Name - @byProduct.Price</li>
                }
            }
            @if (item.Extras != null)
            {
                @foreach (Extra extra in item.Extras)
                {
                    <li>@extra.Name - @extra.Price</li>
                }
            }
        }
    </ul>
    <p>Toplam Fiyat: @Model.TotalPrice</p>
</div>